.dropdown-icon {
    position: relative;
    display: inline-block;
}

.icon {
    /*font-size: 24px;*/
    /*color: #2c3e50; !* Adjust the color to fit your theme *!*/
    cursor: pointer;
}

.icon:hover {
    /*font-size: 24px;*/
    color: #007df6; /* Adjust the color to fit your theme */
}

.dropdown-menu {
    position: absolute;
    right: 0;
    top: 30px;
    background-color: var(--background-color); /* Background color */
    border: 1px solid var(--border-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border-radius: 5px;
    z-index: 1000;
    /*width: 200px;*/
}

.dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 10px 0;
}

.dropdown-menu ul li {
    padding: 10px 20px;
    text-align: left;
}

.dropdown-menu ul li a {
    text-decoration: none;
    color: #333; /* Adjust text color */
    display: block;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.dropdown-menu ul li:hover {
    /*background-color: var(--hover-link-color); !* Hover effect *!*/
}

.dropdown-menu li {
    display: flex;
    justify-content: space-between;
}