/* src/components/ContextMenu/ContextMenu.css */

.context-menu {
    background-color: var(--background-color);
    border: 1px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 1000; /* Ensure the menu is on top */
    min-width: 150px; /* Optional: Adjust as needed */
    color: gray;
}

.context-menu-item {
    padding: 8px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.context-menu-item:hover {
    background-color: #f0f0f0;
}

.context-menu-item span {
    margin-left: 8px;
}

.context-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /*background: rgba(0, 0, 0, 0.5);*/
    z-index: 999; /* Ensure the overlay is just below the menu */
}
