/* Container Styles */
.header {
    background-color: var(--background-color); /* Header background */
    border-bottom: 1px solid var(--gray-darkest); /* Bottom border */
    /*box-shadow: 0 2px 10px var(--gray-darker); !*todo*!*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 15px;
    z-index: 999;
    text-align: center;
}

/* Logo Styles */
.header .logo {
    width: 35px;
    margin-left: 0.8em;
    filter: brightness(130%) hue-rotate(-20deg) saturate(0.6); /* Logo effect */
}

/* Right Icons Container */
.header .right-icons {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-right: 1em;
}

/* Icon Styles */
.header .right-icons svg {
    font-size: 1.3em;
    color: var(--gray-darker); /* Default color */
}

.header .right-icons svg:hover {
    color: var(--main-blue); /* Hover effect */
}

/* Logout Button Styles */
.header .logout-button {
    background: none;
    border: none;
    color: var(--text-color); /* Button color */
    cursor: pointer;
    font-size: 16px;
}

.header .logout-button svg:hover {
    color: var(--error-color); /* Hover effect */
}

/* Date and Time Container Styles */
.header .date-time {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Adjust alignment if necessary */
    margin: 0 1em;
}

/* Date Styles */
.header .date {
    font-size: 0.9em; /* Adjust size if needed */
    color: var(--text-color); /* Color of the date text */
}

/* Time Styles */
.header .time {
    font-size: 1em; /* Adjust size if needed */
    color: var(--text-color); /* Color of the time text */
    font-weight: bold;
}


