/* Side Menu Container */
.side-menu {
    width: 200px;
    background-color: var(--background-color); /* Background color */
    height: 100vh;
    padding-top: 1em;
    padding-bottom: 2em;
    position: fixed;
    top: 5.4em;
    left: 0;
    z-index: 1;
    border-right: 1px solid #1a1a1a; /* Border color */
    opacity: 80%;
    overflow-y: auto; /* Enable vertical scrolling */
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: var(--text-color) var(--background-color); /* For Firefox */
}

/* Custom Scrollbar for Webkit Browsers */
.side-menu::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

.side-menu::-webkit-scrollbar-thumb {
    background-color: var(--text-color); /* Thumb color */
    border-radius: 10px;
}

.side-menu::-webkit-scrollbar-track {
    background-color: var(--background-color); /* Track color */
}

/* Active Side Menu (Shown when toggled) */
.side-menu.active {
    transform: translateX(0);
}

/* List Styling */
.side-menu ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/* List Items Styling */
.side-menu ul li {
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Link Styling */
.side-menu ul li a {
    /*color: var(--text-color); !* Default link color *!*/
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Active Link Styling */
.side-menu ul li a.active {
    background-color: #445059; /* Active link background color */
    /*color: #ffffff; !* Active link text color *!*/
    padding-left: 25px;
}

/* Hover Effect for Active Link */
.side-menu ul li a.active:hover {
    /*color: #ffffff; !* Maintain consistency with active link color *!*/
}

/* Hover Effect for Links */
.side-menu ul li a:hover {
    /*color: var(--text-color); !* Hover color *!*/
}

/* Icon Styling */
.side-menu .icon {
    /*color: var(--icon-color); !* Icon color *!*/
    transform: translateY(5px);
    margin-bottom: 3px;
    margin-right: 6px;
}

/* Expandable Menu Header */
.expandable-menu-header {
    gap: .7em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Icon and Text Container */
.icon-text-container {
    display: flex;
    align-items: center;
    gap: .7em; /* Gap between icon and text */
}

.arrow-icon {
    margin-left: auto;
}

/* Arrow Icon Styling */
.arrow-icon {
    font-size: 16px;
    color: var(--text-color);
    transition: transform 0.3s ease;
}

/* Rotate the arrow when expanded */
.expandable-menu.expanded .arrow-icon {
    transform: rotate(180deg);
}

/* Expanded Menu Container */
.expanded-menu {
    list-style: none;
    padding-left: 20px; /* Indent the nested menu */
    margin: 0;
}

/* Show expanded menu when active */
.expandable-menu.expanded .expanded-menu {
    display: block;
}

/* Expanded Menu Link Styling */
.expanded-menu li a {
    color: var(--text-color); /* Default link color */
    padding: 10px 20px;
    font-size: 13px;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Active Expanded Menu Link Styling */
.expanded-menu li a.active {
    background-color: #2f4b6c; /* Active link background color */
    color: #ffffff; /* Active link text color */
}

/* Hover Effect for Expanded Menu Links */
.expanded-menu li a:hover {
    color: #ffffff; /* Hover color */
    background-color: #2f4b6c; /* Background color on hover */
}

/* Expandable Menu Title and Icon */
.expandable-menu span {
    /*color: var(--text-color);*/
}

.expandable-menu .span-title {
    color: var(--text-color);
}

.expandable-menu .icon-expandable {
    color: var(--text-color);
    transition: color 0.3s ease, transform 0.3s ease;
}

/* Active Expandable Icon Color */
.expandable-menu .icon-expandable.active {
    color: #1a59a4; /* Red color when the menu is expanded */
}
