.programacao-item {
    background-color: var(--background-color); /* Consistent background color */
    border: 2px solid rgba(255, 255, 255, 0.2); /* Match border style with profile */
    border-radius: 8px; /* Match border radius with profile */
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Match shadow style with profile */
}

.programacao-item p {
    margin: 0;
    color: var(--text-color); /* Consistent text color */
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
}

.programacao-item button {
    background-color: #2f4b6c; /* Primary Color for button */
    color: #ffffff; /* White text */
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    cursor: pointer;
    margin-left: 5px;
}

.programacao-item button:hover {
    background-color: #4a6d85; /* Light Shade on hover */
}
