.theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    color: var(--main-blue);
    top: .4em;
    right: 2.5em;
    position: fixed;
}

.theme-toggle svg {
    vertical-align: middle;
}
