/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    /*font-family: 'Poppins', sans-serif;*/
    /*font-family: 'Lexend Deca', sans-serif;*/
    /*font-family: Montserrat, sans-serif;*/
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("./Components/Assets/bg2.png") no-repeat center;
    background-size: cover;
    /*background: #333333;*/
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
    --background-color: #cecece;
    --text-color: #2a2a2a;
    --main-blue: #2f4b6c;

    /* Link and Hover */
    --link-color: #6c6c6c; /* Default link color (Gray) */
    --hover-link-color: #ffffff; /* Link color on hover (White) */
    --active-bg-color: #2f4b6c; /* Background color for active link */
    --active-link-color: #ffffff; /* Text color for active link */
    --border-color: #1a1a1a; /* Border color */
    --icon-color: #2c3e50; /* Default icon color */
    --icon-hover-color: #2980b9; /* Icon color on hover */

    /* Primary Colors */
    --primary-color: #3498db;
    --primary-light: #5dade2;
    --primary-dark: #2e86c1;

    /* Secondary Colors */
    --secondary-color: #e67e22;
    --secondary-light: #f39c12;
    --secondary-dark: #d35400;

    /* Accent Colors */
    --accent-color: #e74c3c;
    --accent-light: #f1948a;
    --accent-dark: #c0392b;

    /* Neutral Colors */
    --neutral-light: #f4f4f4;
    --neutral-dark: #7f8c8d;

    /* Success, Warning, Error Colors */
    --success-color: #2ecc71;
    --warning-color: #f1c40f;
    --error-color: #e74c3c;

    /* Shades of Gray */
    --gray-lightest: #f8f9fa;
    --gray-lighter: #e9ecef;
    --gray-light: #dee2e6;
    --gray: #ced4da;
    --gray-dark: #adb5bd;
    --gray-darker: #6c757d;
    --gray-darkest: #343a40;

    /* Text Variants */
    --text-muted: #6c757d;
    --text-highlight: #2980b9;

    /* Background Variants */
    --background-light: #ffffff;
    --background-dark: #bdc3c7;

    /* Button Colors */
    --button-background: #2980b9;
    --button-background-hover: #2471a3;
    --button-text: #ffffff;
}

[data-theme='dark'] {
    --background-color: #333;
    --text-color: #c0c0c0;
    --main-blue: #ffffff;

    /* Link and Hover */
    --link-color: #b0b0b0; /* Default link color in dark mode (Lighter Gray) */
    --hover-link-color: #ffffff; /* Link color on hover in dark mode (White) */
    --active-bg-color: #2f4b6c; /* Active link background color for consistency */
    --active-link-color: #ffffff; /* Active link text color in dark mode */
    --border-color: #1a1a1a; /* Border color in dark mode */
    --icon-color: #ecf0f1; /* Default icon color in dark mode */
    --icon-hover-color: #2980b9; /* Icon color on hover in dark mode */

    /* Primary Colors */
    --primary-color: #1abc9c;
    --primary-light: #48c9b0;
    --primary-dark: #16a085;

    /* Secondary Colors */
    --secondary-color: #f39c12;
    --secondary-light: #f1c40f;
    --secondary-dark: #e67e22;

    /* Accent Colors */
    --accent-color: #e74c3c;
    --accent-light: #ec7063;
    --accent-dark: #c0392b;

    /* Neutral Colors */
    --neutral-light: #95a5a6;
    --neutral-dark: #2c3e50;

    /* Success, Warning, Error Colors */
    --success-color: #27ae60;
    --warning-color: #f39c12;
    --error-color: #c0392b;

    /* Shades of Gray */
    --gray-lightest: #444;
    --gray-lighter: #555;
    --gray-light: #666;
    --gray: #777;
    --gray-dark: #888;
    --gray-darker: #999;
    --gray-darkest: #595959;

    /* Text Variants */
    --text-muted: #bdc3c7;
    --text-highlight: #1abc9c;

    /* Background Variants */
    --background-light: #2c3e50;
    --background-dark: #34495e;

    /* Button Colors */
    --button-background: #2980b9;
    --button-background-hover: #1f618d;
    --button-text: #ffffff;
}