/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

/* Remove fundo amarelo bizarro dos inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background: transparent !important;
    color: #555 !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: #555555 !important;
}

body {
    /*font-family: 'Poppins', sans-serif;*/
    /*font-family: 'Lexend Deca', sans-serif;*/
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("./Components/Assets/bg2.png") no-repeat center;
    background-size: cover;
    /*background: #333333;*/
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
    --background-color: #cecece;
    --text-color: #2a2a2a;
}

[data-theme='dark'] {
    --background-color: #333;
    --text-color: #ecf0f1;
}


